body{
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 70px;
    background-color: #FBBFC9;

}
.contenedor-sesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#logo-inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 10%;
}
#icon-inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35%;
    margin: 4%;
}
.inputs-inicio{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.inputs{
    margin: 4%;
    background-color: white;
    color: #626262;
    border: 2px solid #FBBFC9;
    border-radius: 20px;
    height: 25px;
    text-align: center;
}
.opc-proveedores {
    height: black;
    border: solid;
    /* display: table; */
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    /* margin:2rem auto; */
    /* width: 300px;
    position: relative;
    top: 75px;
    bottom:0;
    right:0;
    left:100px; 
    box-sizing: border-box; */
}

.muro{
    display: flex;
    justify-content: center;
}
h2{
    text-align: start;
}
figure{
    display: flex;
}
figure img{
    width: 30%;
}
.fondo-muro{
    background-color: white;
    width: 85%;
    height: 30%;
}
.eventos , .comentarios{
    background-color: rgb(219, 215, 215);
}
.comentario-uno{
    flex-direction: row;
}
.texto-eventos input{
    background-color: aqua
}
.

