
.opc-proveedores {
    height: black;
    border: solid;
    /* display: table; */
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    /* margin:2rem auto; */
    /* width: 300px;
    position: relative;
    top: 75px;
    bottom:0;
    right:0;
    left:100px; 
    box-sizing: border-box; */
}

.muro{
    display: flex;
    justify-content: center;
}
h2{
    text-align: start;
}
figure{
    display: flex;
}
figure img{
    width: 30%;
}
.fondo-muro{
    background-color: white;
    width: 85%;
    height: 30%;
}
.eventos , .comentarios{
    background-color: rgb(219, 215, 215);
}
.comentario-uno{
    flex-direction: row;
}
.texto-eventos input{
    background-color: aqua
}
.

