body{
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 70px;
    background-color: #FBBFC9;

}
.contenedor-sesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#logo-inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 10%;
}
#icon-inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35%;
    margin: 4%;
}
.inputs-inicio{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.inputs{
    margin: 4%;
    background-color: white;
    color: #626262;
    border: 2px solid #FBBFC9;
    border-radius: 20px;
    height: 25px;
    text-align: center;
}


.muro{
    display: flex;
    justify-content: center;
}
h2{
    text-align: start;
}
figure{
    display: flex;
}
figure img{
    width: 30%;
}
.fondo-muro{
    background-color: white;
    width: 85%;
    height: 30%;
}
.eventos , .comentarios{
    background-color: rgb(219, 215, 215);
}
.comentario-uno{
    flex-direction: row;
}
.texto-eventos input{
    background-color: aqua
}
.
.proveedores {
    display: flex;
    justify-content: center;
}
.opc-proveedores{
    margin: 8%;
    padding: 8%;
    background-color:rgb(0,0,0,0.13 );
    width: 85%;
    height: 30%;  
}
.provedores-destacados{
    margin: 8%;
    padding: 8%;
    background-color:rgb(0,0,0,0.13 );
    width: 85%;
    height: 30%; 
}
.proveedor1{
    
    background-color: #c5c8c8 ;
    margin: 1%;
    padding: 8%;
}
.proveedor2{
    
    background-color: #c5c8c8 ;
    margin: 1%;
    padding: 8%;
}
.proveedor3{
    
    background-color: #c5c8c8 ;
    margin: 1%;
    padding: 8%;
}
.proveedor4{
    
    background-color: #c5c8c8 ;
    margin: 1%;
    padding: 8%;
}
.proveedor5{
    
    background-color: #c5c8c8 ;
    margin: 1%;
    padding: 8%;
}